<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.//;Initial Catalog=CountriesDB;integrated security=True;MultipleActiveResultSets=true;Connection Timeout=3000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>